Test heroku

<ul id="lists">
  <% @list.each_with_index do |list, index| %>
    <li class="<%= list_class(list) %>">
      <a>
        <a href="/lists/<%= index %>"><%= list[:name] %></a> 
        <p>
          <%= todos_remaining_count(list) %> / <%= todos_count(list) %>
        </p>
      </a>
    </li>
  <% end %>
</ul>
<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>